*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

header{
    background-image: url("images/bg-header-desktop.svg");
    background-color: rgb(94,164,164);
    height: 155px;
}

ul{
    display: flex;
}

li{
    font-size: 15px;
}

li:first-child{
    list-style: none;
}

img{
    margin-right: 30px;
    margin-left:10px;
}

h2{
    font-size: 20px;
}

.container{
    background-color: rgb(240,250,251);
    padding: 75px 150px;
    display: flex;
    flex-direction: column;
}

.listing{
    background-color: white;
    box-shadow: 5px 5px 30px 0px lightblue;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    padding: 35px;
    position: relative;
    margin-bottom: 25px;
}

.job-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-detail{
    display: flex;
    align-items: baseline;
}

.employer{

    color: rgb(94,164,164);
    margin-right: 15px;
    font-size: 15px;

}

.new{

    background-color: rgb(94,164,164);
    color:white;
    margin-right: 10px;
    padding: 7px 7px 3px 7px;
    border-radius: 20px;

}

.featured{

    background-color: black;
    color: white;
    padding: 7px 7px 3px 7px;
    border-radius: 20px;

}

.listing-info{
    margin-left: -20px;
    width: 350px;
}

.listing-info ul{
    justify-content: space-around;
}

.listing-info ul li{
    font-weight:500;
    color: hsl(180, 8%, 52%);
}

.skills{

    right: 0px;
    position: absolute;
    align-self:center;
    margin-right:35px;
    /* border: 1px solid red; */

}

.skills ul{
    list-style: none;
}

.skills ul li{
    margin-left: 10px;
    background-color: rgb(235,244,245);
    color: hsl(180, 29%, 50%);
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
}

.featured-div{
    border-left: 5px solid rgb(94,164,164);
}